* {
  text-decoration: none;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

.input {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 210px;
  height: 20px;
}

.btn {
  background-color: rgb(141, 16, 68);
  color: white;
  width: 80px;
  height: 23px;
  cursor: pointer;
}

.total-series {
  display: grid;
  grid-template-columns: 20% 80%;
}

.series {
  display: flex;
  flex-wrap: wrap;
}

.series-favorites {
  display: flex;
  flex-direction: column;
}

.cards {
  background-color: pink;
  margin: 10px;
  width: 270px;
  height: 380px;
  cursor: pointer;
}

.cards-img,
.cards-content-img {
  margin: 18px 30px;
}

.cards-title {
  text-align: center;
  transform: translate(0, -20px);
  font-size: 20px;
  color: rgb(141, 16, 68);
}

.cards-fav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cards-img-fav {
  width: 140px;
  height: 195px;
}

.cards-title-fav {
  font-size: 15px;
}

.close {
  margin-left: 145px;
  cursor: pointer;
  background-color: black;
  color: white;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -240px);
}

.seriescolor {
  background-color: rgb(141, 16, 68);
}

.btn-reset {
  width: 60px;
  cursor: pointer;
}
